@import url('style.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 3px solid var(--text-color-light);
    background-color: var(--nav-bg-color-light);
    padding: 25px;
}

#fr nav {
    width: 45%;
}

#en nav {
    width: 39%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}

nav li:nth-child(7), nav li:nth-child(8) {
    font-size: 1.6em;
}

nav ul li:first-child {
    color: var(--home-text-color);
}

.menu-icon {
    display: none;
}

/* Responsive Mobile */
@media screen and (max-width : 600px) {
    .home * {display: none;}

    header {
        height: 50px;
        padding: 10px;
    }

    header h1 {
        font-size: 1em;
    }
    
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        height: calc(100vh - 50px);
        background-color: rgba(252, 250, 254, 0.8);
        width: 100vw;
        transform: translate(-54.7%, .15%);
        font-size: .8em;
        justify-content: space-around;
    }

    #en nav ul {
        transform: translate(-60.35%, .15%);
    }

    .menu-icon {
        display: block;
        font-size: 2em;
        text-align: end;
    }
}