@import url('style.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 3px solid var(--text-color-light);
    background-color: var(--nav-bg-color-light);
    padding: 25px;
}

#fr nav {
    width: 50%;
}

#en nav {
    width: 45%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}

nav li:nth-child(7), nav li:nth-child(8) {
    font-size: 1.6em;
}

nav ul li:first-child {
    color: var(--home-text-color);
}

.menu-icon {
    display: none;
}

/* Responsive Mobile */
@media screen and (max-width : 1500px) {
    header {
        height: 6vmax;
        padding: 10px;
    }

    header h1 {
        font-size: 2vmax;
    }
    
    nav ul{
        display: none;
        flex-direction: column;
        position: absolute;
        height: calc(100vh - 6vmax);
        background-color: rgba(252, 250, 254, 0.95);
        width: 100vw;
        transform: translate(-50%, .5%);
        font-size: 1.5vmax;
        justify-content: space-around;
    }

    #en nav ul {
        transform: translate(-54.5%, .5%);
    }

    .menu-icon {
        display: block;
        font-size: 3.5vmax;
        text-align: end;
    }
}