@import url('style.css');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    border: 3px solid var(--text-color-light);
    background-color: var(--nav-bg-color-light);
    padding: 25px;
}

nav {
    width: 45%;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}

nav ul li:first-child {
    color: var(--home-text-color);
}