@import url('style.css');

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
}

.network {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 4vmax;
    margin-left: 25px;
}

.right img {
    width: 85%;
}

.home .left {
    width: 50%;
}

.left .name {
    font-size: 3vmax;
    font-weight: 600;
}

.left .name span {
    color: var(--home-text-color);
}

.left .job {
    font-size: 1.7vmax;
    font-weight: 500;
}

.button {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.button button {
    background-color: transparent;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    color: var(--text-color-light);
}

#fr .button button {
    font-size: 1.1vmax;
}

#en .button button {
    font-size: 1.3vmax;
}

.button button:hover {
    box-shadow: 10px 10px var(--text-color-light);
}

/* Responsive Mobile */
@media screen and (max-width : 600px) {
    .home {
        flex-direction: column-reverse;
        justify-content: start;
        justify-content: center;
    }

    .home .right {
        flex-direction: column;
        width: 90%;
        margin-bottom: 30px;
    }

    .network {
        flex-direction: row;
        margin: 0;
        font-size: 2em;
        justify-content: space-around;
        width: 60%;
        margin-top: 20px;
    }

    .home .left {
        width: 90%;
    }

    .left .name {
        font-size: 6.5vmin;
        text-align: center;
        margin-bottom: 10px;
    }

    .left .job {
        text-align: justify;
        font-size: 4.5vmin;
    }

    .button {
        width: 100%;
        margin-top: 25px;
        justify-content: space-around;
    }

    .button button {
        font-size: .7em;
        padding: 15px;
    }
}