@import url('style.css');

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 45%;
    }

    .left {
        width: 45%;
    }   
}

.right {
    .network {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 3.5vmax;
    }

    img {
        width: 85%;
        margin-right: 25px;
    }
}


.left {
    .name {
        font-size: 3vmax;
        font-weight: 600;
        span { color: var(--home-text-color); }
    }

    .job {
        font-size: 1.5vmax;
        font-weight: 500;
        text-align: justify;
    }

    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
    }
}

/* Responsive Mobile */
@media screen and (max-width : 600px) {
    .home {
        flex-direction: column-reverse;
        justify-content: center;

        .right {
            flex-direction: column;
            width: 90%;
            margin-bottom: 15px;
        }

        .left {
            width: 90%;
        }
    }

    .right {
        img {
            margin: 0;
        }

        .network {
            flex-direction: row;
            justify-content: space-around;
            width: 70%;
            margin-top: 5px;
        }
    }

    .left {
        .name {
            text-align: center;
            margin-bottom: 5px;
        }

        .job {
            font-size: 1em;
        }

        .button {
            margin-top: 25px;
        }
    }
}