@import url(style.css);

.darkMode {
    background-color: var(--primary-bg-color-dark);
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);

    i { color: var(--text-color-dark); }

    button { 
        color: var(--text-color-dark); 
        border-color: var(--text-color-dark);
    }

    button:hover { box-shadow: 5px 5px var(--text-color-dark); }
}

header.darkMode {
    background-color: var(--nav-bg-color-dark);

    ul { background-color: rgba(30,28,30,0.95); }
}

.about.darkMode .container-img {
    border-color: var(--text-color-dark); 

    .rotate {
        border-color: var(--text-color-dark); 
    }

    .img {
        background-color: var(--primary-bg-color-dark);
        border-color: var(--text-color-dark);
        img { filter: none; }
    }
}

.contact.darkMode {
    .thanks ul { border-color: var(--text-color-dark) };

    form {
        h2, input, textarea { 
            border-color:  var(--text-color-dark); 
            color: var(--text-color-dark);
        }

        input::placeholder, textarea::placeholder { color: var(--text-color-dark); }

        button:hover { box-shadow: none; }
    }
}