#portfolio #introduction {
    display: flex;
    flex-direction: column;

    .dl-resume {
        border: 5px solid #2F3130;
        background-color: #894EFF;
        height: 10%;
        width: 20%;
        font-size: 4vmin;
        position: relative;
        left: 80%;
        
        a {
            display: inline-block;
            width: 100%;
            height: 100%;
            border-bottom: 10px solid #5923C3;
        }

        img { 
            width: 4vmin;
            filter: invert(0.9);
        }
    }

    .dl-resume:hover { background-color: #6D33E0; }

    .content {
        width: 100%;
        height: 75%;
        background-color: #14163C;
        border: 5px solid #303030;
        margin-top: .5%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row-reverse;

        .img {
            width: 25%;
            height: 100%;
            text-align: end;

            img { 
                height: 100%;
                transform: scaleX(-1);
            }
        }

        .description {
            width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .name {
                font-size: 6vmax;
                span { color: #FE21E3; }
            }

            .job { 
                font-size: 2.5vmax; 
                text-align: justify;
                margin-top: 20px;
            }
        }
    }

    .wish {
        width: 100%;
        height: 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vmin;
        margin-top: .5%;
        background-color: #FE0000;
        border: 5px solid #541B14;
        padding: 20px;
    }
}