.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    .about-visual {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .description {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: justify;
    }
}

.about-visual .container-img {
    width: 85%;
    aspect-ratio: 1/1;
    border: 5px solid var(--text-color-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .rotate {
        width: 20%;
        height: 100%;
        background-color: var(--home-text-color);
        border-right: 5px solid var(--text-color-light);
        border-left: 5px solid var(--text-color-light);
        position: relative;
        animation: rotate 3s linear 0s infinite normal none;
    }

    .img {
        border: 5px solid var(--text-color-light);
        width: 30%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        background-color: var(--primary-bg-color-light);

        img {
            width: 100%;
            height: 100%;
            object-position: 50% 50%;
            filter: invert(100%);
        }
    }
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.description {
    .button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin-top: 15px;
    }

    h2 {
        font-size: 3vmax;
        margin-bottom: 20px;
    }

    p {
        font-size: 1.3vmax;
        width: 90%;
        text-align: justify;
        margin-bottom: 30px;
    }

    .red {
        color: var(--home-text-color);
        font-weight: 600;
    }
}

/* Responsive Mobile */
@media screen and (max-width : 600px) {
    .about{
        flex-direction: column;
        justify-content: center;

        .about-visual{
            width: 80%;
            height: 45%;
        }

        .description {
            width: 95%;
            height: 45%;
        }
    }

    .about-visual .container-img {
        width: 100%;
        .img { width: 55%; }
    }

    .description {
        h2{ 
            text-align: center;
            margin-bottom: 10px; 
        }

        p { 
            margin-bottom: 10px; 
            width: 100%;
        }

        .button { width: 100%; }
    }
}