body {
    background-image: url(../img/background/panoramic.webp);
    background-size: cover;
    backdrop-filter: blur(3px);
    animation: panorama 60s linear alternate infinite;
}

@keyframes panorama {
    from { background-position: 0 0; }
    to { background-position: 100% 100%; }
}