.bevel {
    width: 100%;
    height: 100%;
}

#home {
    .bevel {
        padding: 20px;
        border-top: 5px solid #E9E9E9;
        border-left: 5px solid #E9E9E9;
        border-right: 5px solid #727272;
        border-bottom: 5px solid #727272;
    }

    .resume .bevel {
        padding: 20px;
        border-top: 5px solid #C16FFF;
        border-left: 5px solid #BF70FD;
        border-right: 5px solid #5523C0;
        border-bottom: 5px solid #5623C0;
    }

    .settings-btn:hover .bevel, .discover-btn:hover .bevel { 
        border-top-color: #00E800;
        border-left-color: #01E900;
        border-right-color: #115C09;
        border-bottom-color: #0E5B0B;
    }

    .resume:hover .bevel {
        border-top-color: #321E7D;
        border-left-color: #312179;
        border-right-color: #CA74FF;
        border-bottom-color: #CE73FE;
    }
}

#settings {
    button .bevel {
        display: flex;
        align-items: center;
        padding: 15px;
        border-top: 5px solid #E8E8E8;
        border-left: 5px solid #E8E8E8;
        border-right: 5px solid #737373;
        border-bottom: 5px solid #737174;
    }

    .selected .bevel {
        border-top: 5px solid #666666;
        border-left: 5px solid #666666;
        border-right: 5px solid #E2E2E2;
        border-bottom: 5px solid #E2E2E2;
    }

    button:hover .bevel {
        border-top-color: #34C431;
        border-left-color: #1DD616;
        border-right-color: #0F5E0F;
        border-bottom-color: #0F5C0C;
    }

    .selected:hover .bevel {
        border-top-color: #0A5E06;
        border-left-color: #105A0B;
        border-right-color: #00E700;
        border-bottom-color: #00E600;
    }
}

#networks {
    .visual .bevel {
        padding: 10px;
        border-top: 5px solid #666769;
        border-left: 5px solid #616264;
        border-right: 5px solid #404143;
        border-bottom: 5px solid #404042;
    }

    .visual:hover .bevel {
        border-top-color: #777779;
        border-left-color: #767678;
        border-right-color: #4A4A4A;
        border-bottom-color: #49494A;
    }
}

#discover nav {
    button .bevel {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border-top: 5px solid #7B7B7B;
        border-left: 5px solid #7C7C7E;
        border-right: 5px solid #666769;
        border-bottom: 5px solid #666769;
    }

    .selected button .bevel {
        border-top: 5px solid #656668;
        border-left: 5px solid #7C7C7E;
        border-right: 5px solid #656766;
        border-bottom: 5px solid #525252;
    }

    .selected button .bevel::after {
        content: "";
        border-bottom: 5px solid #E9EBEA;
        width: 5%;
        position: absolute;
        top: 85px;
    }

    a:not(.selected) button:hover .bevel {
        background-color: #646466;
        border-top-color: #888888;
        border-right-color: #8A8A8C;
        border-left-color: #767678;
        border-bottom-color: #777779;
    } 
}

#portfolio #introduction {
    .dl-resume .bevel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 5px solid #BD6FFF;
        border-left: 5px solid #BB75F2;
        border-right: 5px solid #A256EE;
        border-bottom: 5px solid #A652FF;
    }

    .dl-resume:hover .bevel {
        border-top-color: #CD75FF;
        border-right-color: #A849FD;
        border-left-color: #C975FF;
        border-bottom-color: #AD4AFF;
    }
}