@import url(style.css);

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;

    .thanks {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    form {
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.thanks {
    .hovered {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-top: 25px;
    }

    p:first-child {
        font-size: 1.5vmax;
        font-weight: 600;
        margin-bottom: 20px;
    }

    p {
        width: 100%;
        margin-bottom: 15px;
        font-size: 1vmax;
    }
}

.hovered {
    ul {
        border: 1px solid var(--text-color-light);
        border-radius: 15px;
        padding: 10px;
        cursor: pointer;
        width: 30%;
        font-size: .7vmax;
        text-align: center;

        li {
            display: none;
            list-style: none;
        }
    }

    ul:hover li {
        display: block;
    }

    ul:hover em {
        display: none;
    }
}

form {
    h2 {
        border-bottom: 1px solid var(--text-color-light); 
        margin-bottom: 20px; 
        width: 95%;
        font-size: 2vmax;
    }

    input, textarea {
        width: 95%;
        margin-bottom: 20px;
        padding: 15px;
        background-color: transparent;
        border: 2px solid var(--text-color-light);
        color: var(--text-color-light);
    }

    input::placeholder, textarea::placeholder{
        color: var(--text-color-light);
    }

    textarea { height: 200px; }

    button { width: 95%; }

    button:hover { box-shadow: none; }
}

@media screen and (max-width : 600px) {
    .contact {
        flex-direction: column;

        .thanks { display: none; }

        form { width: 95%; }
    }
}