#discover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E1E5E8;
        height: 100px;
        border-bottom: 5px solid #C9CACE;

        .back {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 3vmax;
            color: #2F2F2F;
            height: 100%;
            aspect-ratio: 1 / 1;
            display: grid;
            place-content: center;
        }
        
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            span {
                font-size: 3.75vmax;
                color: #2F2F2F;
                text-align: center;
            }
        }
        
        .networks-btn {
            background-color: transparent;
            border: none;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            cursor: pointer;
            border-left: 5px solid #C9CACE;
            padding: 0 45px 0 45px;
            
            p { 
                color: #2F2F2F; 
                font-size: 2.5vmax;
            }
            
            img {
                height: 70%;
                margin-right: 20px;
                border: 3px solid var(--btn-border-color);
            }
        }

        .back:hover, .networks-btn:hover {
            background-color: #E5E9EC;
            color: #000104;
            p {color: #000104; }
        }
    }
}