.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin-bottom: 25px;
        font-style: italic;
        font-size: 1.2rem;
    }
}

.education-content {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .degree {
        border: 2px solid var(--text-color-light);
        padding: 15px;
        width: 35%;

        li { 
            list-style: none; 
            display: none;
            text-align: center;
            font-size: 1.2rem;
        }

        H3 { 
            text-align: center; 
            font-size: 2rem;
            color: var(--home-text-color);
            i { 
                color : var(--text-color-light); 
                font-size: 1.5rem;
            }
        }
    }

    .degree:hover h3, .degree:hover li{ 
        display: block; 
        i { display: none; }
    }

    .line, .line-dashed { width: 10%; }
    .line { border: 2px solid var(--text-color-light); }
    .line-dashed { border: 2px dashed var(--text-color-light); }
}