#home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    img { margin-bottom: 50px; }

    .splash-text {
        color: var(--splash-text);
        font-size: 2vmax;
        position: relative;
        top: -150px;
        left: 450px;
        animation: scales 1s alternate infinite;
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;

        
        button {
            width: 100%;
            padding: 20px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 3vmax;
            background-color: var(--bg-btn);
            border: 5px solid var(--btn-border-color);
        }
        
        button span { color: var(--txt-btn-color); }

        button a { 
            display: inline-block;
            color: var(--txt-btn-color-hover);
            height: 100%;
            width: 100%;
            padding: 20px;
        }

        button.resume {
            padding: 0;
            background-color: var(--bg-resume-btn);
        }

        button:hover span{
            color: var(--txt-btn-color-hover);
            border-color: var(--btn-border-color-hover);
        }

        .settings-btn:hover, .discover-btn:hover { background-color: var(--bg-btn-hover); }
    }
}

@keyframes scales {
    from { transform: scale(100%) rotate(-20deg); }
    to { transform: scale(125%) rotate(-20deg); }
}