#home {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    img { margin-bottom: 50px; }

    .splash-text {
        text-shadow: 4px 4px #4E4E0D;
        font-size: 2vmax;
        position: relative;
        top: -150px;
        left: 450px;
        animation: scales 1s alternate infinite;

        span { color: #FFFF00; }
    }

    .btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 30%;

        button {
            width: 100%;
            margin-bottom: 10px;
            cursor: pointer;
            font-size: 3vmax;
            background-color: #D7D7D7;
            border: 5px solid #262626;
        }
        
        button span { color: #575757; }

        button a { 
            display: inline-block;
            color: #EBEBEB;
            height: 100%;
            width: 100%;
        }

        .resume { background-color: #894EFF; }

        button:hover { border-color: #EBEBEB; }
        button:hover span { color: #EBEBEB; }
        .settings-btn:hover, .discover-btn:hover { background-color: #28940B; }
        .resume:hover { background-color: #6D33E1; }
    }
}

@keyframes scales {
    from { transform: scale(100%) rotate(-20deg); }
    to { transform: scale(125%) rotate(-20deg); }
}