#settings {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #5D5C5F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: fit-content;
        background-color: #D7D7D7;
        margin-bottom: auto;
        
        span {
            color: #575757;
            font-size: 4.5vmin;
        }
        
        .title-section { 
            width: 30%; 
            display: flex;
            align-items: center;

            span { margin-left: 5px; }
        }
        
        .title-languages { 
            width: 69.5%;
            text-align: center; 
        }
        
        .back { 
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 5vmin;
            color: #575757;
            width: 9.767%;
            aspect-ratio: 1 / 1;
            display: grid;
            place-content: center;
        }

        .back:hover {
            color: #EBEBEB;
            background-color: #C4C4C4;
        }
    }

    .content {
        width: 100%;
        height: calc(100% - 7.5%);
        display: flex;
        justify-content: space-between;

        nav, .language {
            background-color: #3F4041;
            border-top: 3px solid #0E0E0E;
            padding: 10px;
        }
    }

    .content nav {
        width: 30%;
        border-right: 3px solid #0E0E0E;

        button {
            width: 100%;
            cursor: pointer;
            font-size: 5vmin;
            border: 5px solid #272727;
            background-color: #D7D7D7;
            margin-bottom: 20px;

            span { color: #575757; }
        }

        .selected { 
            background-color: #9D9D9D; 
            border-color: #252628;

            span { color: #313131; }
        }

        button:hover {
            border-color: #EBEBEB;
            background-color: #28940B;
            
            span { color: #EBEBEB; }
        }
    }

    .content .language {
        width: 69.5%;
        border-left: 3px solid #0E0E0E;

        div {
            font-size: 5vmin;
            display: flex;
            height: 7.5%;
            align-items: center;
            padding-left: 5px;
        }

        div > * { cursor: pointer; }

        div input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
            height: 75%;
            aspect-ratio: 1 / 1;
            border: 5px solid #000002;
            margin-right: 1.5%;
            background-color: #646265;
            display: flex;
            justify-content: center;
        }

        div input[type="radio"]::before {
            content: "";
            width: 100%;
            aspect-ratio: 1 / 1;
        }

        div input[type="radio"]:checked::before {
            padding: 12.5%;
            background-color: #D5D5D5;
            background-clip: content-box;
        }

        div:has(input[type="radio"]:checked) {
            background-color: #555356;
        }

        div:hover {
            background-color: #1D8303;
            input[type="radio"] { border-color: #EAECEB; }
        }

        div:has(input[type="radio"]:checked):hover {
            background-color: #1D8303;
            input[type="radio"] { border-color: #EAECEB; }
        }
    }
}