#settings {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--bg-settings);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;
        background-color: var(--bg-btn);
        margin-bottom: auto;
        
        * {
            color: var(--txt-btn-color);
            padding: 10px;
            font-size: 2vmax;
        }
        
        div:first-child { width: 30%; }

        div:last-child { 
            width: 69.5%;
            text-align: center; 
        }

        .back { cursor: pointer; }
    }

    .content {
        width: 100%;
        height: calc(100% - 85px);
        display: flex;
        justify-content: space-between;

        .nav, .language {
            background-color: #5e6061;
            border-top: 3px solid var(--btn-border-color);
            padding: 10px;
        }
    }

    .content .nav {
        width: 30%;
        border-right: 3px solid var(--btn-border-color);

        p {
            font-size: 2.5vmax;
            padding: 10px;
            border: 5px solid var(--btn-border-color-hover);
            background-color: var(--bg-btn-hover);
            cursor: pointer;
        }
    }

    .content .language {
        width: 69.5%;
        border-left: 3px solid var(--btn-border-color);

        div {
            font-size: 2.5vmax;
            display: flex;
            height: 75px;
            align-items: center;
            padding-left: 5px;
        }

        div > * { cursor: pointer; }

        div input[type="radio"] {
            -webkit-appearance: none;
            appearance: none;
            height: 80%;
            aspect-ratio: 1 / 1;
            border: 5px solid var(--btn-border-color);
            margin-right: 15px;
            background-color: var(--bg-settings);
            display: flex;
            justify-content: center;
        }

        div input[type="radio"]::before {
            content: "";
            width: 100%;
        }

        div input[type="radio"]:checked::before {
            padding: 5px;
            background-color: var(--bg-btn);
            background-clip: content-box;
        }

        div:has(input[type="radio"]:checked) {
            background-color: var(--bg-input);
        }
    }
}