@font-face {
    font-family: Silkscreen;
    src: url(../font/Silkscreen.ttf);
}

@font-face {
    font-family: VT323;
    src: url(../font/VT323.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Silkscreen;
}

body {
    overflow: hidden;
}