@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins.ttf');
}

@font-face {
    font-family: 'Minecraftia';
    src: url('../font/Minecraftia.otf');
}

@font-face {
    font-family: 'Minecrafter';
    src: url('../font/Minecrafter.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Minecraftia;
    color: #EBEBEB;
}

p, span { text-align: justify; }

body, main { 
    overflow: hidden; 
    height: 100vh;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
    p {
        margin-top: auto;
        background-color: rgb(45, 48, 45, 0.9);
        font-size: 4vmin;
        display: flex;
        align-items: center;
        padding: 0 .25% 0 .25%;
        
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}

a { text-decoration: none; }
li { list-style: none; }

.hidden { display: none !important; }

@media screen and (max-width : 1200px) {
    main { display: none; }

    body::before {
        content: "Bientôt disponible sur petit écran !";
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #262626;
        font-size: 8vmin;
        padding: 0 5vmin;
    }

    body::after {
        content: "Coming soon to the small screen!";
        position: absolute;
        top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-size: 8vmin;
    }
}