@font-face {
    font-family: 'VT323';
    src: url('../font/VT323.ttf');
}

@font-face {
    font-family: 'Minecraftia';
    src: url('../font/Minecraftia.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Minecraftia;
    color: #EBEBEB;
}

body, main { 
    overflow: hidden; 
    height: 100vh;
}

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
    p {
        margin-top: auto;
        background-color: rgb(45, 48, 45, 0.9);
        font-size: 2.5vmin;
        display: flex;
        align-items: center;
        padding: 10px;
        
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}

a { text-decoration: none; }
li { list-style: none; }

.hidden { display: none !important; }