@font-face {
    font-family: Silkscreen;
    src: url(../font/Silkscreen.ttf);
}

@font-face {
    font-family: VT323;
    src: url(../font/VT323.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VT323;
    color: #EBEBEB;
}

body, main { overflow: hidden; }

footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
    p {
        margin-top: auto;
        background-color: rgb(45, 48, 45, 0.9);
        font-size: 1.5vmax;
        display: flex;
        align-items: center;
        padding: 10px;
        
        span {
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }

    p:last-child { padding: 10px; }
}

a { text-decoration: none; }
li { list-style: none; }

.hidden { display: none !important; }