#discover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(57, 57, 57, 0.7);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E1E5E8;
        height: fit-content;
        border-bottom: 7.5px solid #C9CACE;

        .back {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 7vmin;
            color: #2F2F2F;
            width: 4.25%;
            aspect-ratio: 1 / 1;
            display: grid;
            place-content: center;
        }
        
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            span {
                font-size: 7vmin;
                color: #2F2F2F;
                text-align: center;
            }
        }
        
        .networks-btn {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            width: 15%;
            border-left: 5px solid #C9CACE;
            color: #2F2F2F; 
            font-size: 3.5vmin;
            padding: 0 1% 0 1%;
            cursor: pointer;
    
            img {
                width: 20%;
                margin-right: 5%;
                border: 3px solid #323432;
            }
        }

        .back:hover, .networks-btn:hover {
            background-color: #E5E9EC;
            color: #000104;

            p { color: #000104; }
        }
    }
}