#discover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(57, 57, 57, 0.7);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E1E5E8;
        height: fit-content;
        border-bottom: .75vmin solid #C9CACE;

        .back {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-size: 7vmin;
            color: #2F2F2F;
            width: 8vmin;
            aspect-ratio: 1 / 1;
            display: grid;
            place-content: center;
        }
        
        .title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            
            span {
                font-size: 4vmin;
                color: #2F2F2F;
                text-align: center;
                font-family: Minecrafter;
            }
        }
        
        .networks-btn {
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            width: 30vmin;
            border-left: .75vmin solid #C9CACE;
            color: #2F2F2F; 
            font-size: 5vmin;
            padding: 0 1% 0 1%;
            cursor: pointer;
    
            img {
                width: 4.5vmin;
                margin-right: 5%;
                border: .3vmin solid #323432;
            }
        }

        .back:hover, .networks-btn:hover {
            background-color: #E5E9EC;
            color: #000104;

            p { color: #000104; }
            img { border-color: #000104; }
        }
    }
}