#discover {
    nav {
        width: 100%;
        height: clamp(50px, 8vmin, 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10vmin;

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-block;
                width: 16.5%;
                height: 100%;
                border-top: .5vmin solid #303030;
                border-bottom: .5vmin solid #303030;
                border-right: .5vmin solid #303030;
            }
            
            a:first-of-type { border-left: .5vmin solid #303030; }

            li { height: 100%; }
            
            button {
                height: 100%;
                width: 100%;
                border: none;
                background-color: #535456;
                border-bottom: 1vmin solid #3F4042;
                cursor: pointer;
                
                span { font-size: 4vmin; }
            }

            .selected {
                button {
                    border: none;
                    background-color: #3F4042;
                }
            }
        }
        
    }
}