#discover {
    nav {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 125px;

        .begin, .end {
            font-weight: 600;
            font-size: 1.5vmax;
            position: absolute;
            border: 5px solid #626262;
            color: #080808;
            background-color: #E3E3E3;
            width: 50px;
            height: 50px;
            display: grid;
            place-content: center;
        }

        .begin { left: 1.5%; }
        .end { right: 1.5%; }

        ul {
            width: 96%;
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                display: inline-block;
                width: 16.5%;
                height: 100%;
                border-top: 5px solid #303030;
                border-bottom: 5px solid #303030;
                border-right: 5px solid #303030;
            }
            
            a:first-of-type { border-left: 5px solid #303030; }

            li {
                width: 100%;
                height: 100%;
            }
            
            button {
                height: 100%;
                width: 100%;
                border: none;
                background-color: #535456;
                border-bottom: 7.5px solid #3F4042;
                cursor: pointer;
                
                span { font-size: 2vmax; }
            }

            .selected {
                button {
                    border: none;
                    background-color: #3F4042;
                }
            }
        }
        
    }
}