#discover {
    #networks {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(50,50,50,0.7);
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        z-index: 1;
        
        .container {
            width: 40%;
            height: 100%;
            border-left: 5px solid #2E2F34;
            border-top: 5px solid #2E2F34;
        }

        .container header, .container .content {
            width: 100%;
        }

        .container header {
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #535456;
            border-top: 5px solid #7C7C7C;
            border-left: 5px solid #7B7B7D;
            border-bottom: 5px solid #666769;
            border-right: 5px solid #666769;


            span {
                font-size: 3vmax;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }

            .close-btn {
                background-color: transparent;
                border: none;
                height: 100%;
                aspect-ratio: 1 / 1;
                display: grid;
                place-content: center;
                font-size: 3vmax;
                cursor: pointer;
            }

            .close-btn:hover { background-color: #646466; }
        }

        .container .content {
            height: calc(100% - 100px);
            background-color: #3F4042;
            padding: 20px;
        }

        .container .content a:first-child .visual {
            border-top: 5px solid #313133;
        }

        .container .content .visual {
            width: 100%;
            height: 20%;
            border: 5px solid #313133;
            border-top: none;
            background-color: #535456;

            .bevel {
                display: flex;
                align-items: center;
            }

            img {
                height: 100%;
                margin-right: 25px;
                aspect-ratio: 1 / 1;
                filter: grayscale(1);
                border: 5px solid #303030;
            }

            .description {
                .title { font-size: 4vmax; }
                .username { font-size: 2vmax; }
            }
        }

        .container .content .visual:hover { background-color: #646466; }
    }
}