#discover {
    #networks {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(50,50,50,0.7);
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        z-index: 5;
        
        .container {
            width: 40%;
            height: 100%;
            border-left: 5px solid #2E2F34;
            border-top: 5px solid #2E2F34;
        }

        .container header, .container .content { width: 100%; }

        .container header {
            height: 10%;
            position: relative;

            background-color: #535456;
            border-top: 5px solid #7C7C7C;
            border-left: 5px solid #7B7B7D;
            border-bottom: 5px solid #666769;
            border-right: 5px solid #666769;

            .title { 
                font-size: 5vmin;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 5%;
            }

            .close-btn {
                position: absolute;
                right: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                aspect-ratio: 1 / 1;
                background-color: transparent;
                border: none;
                cursor: pointer;

                img {
                    width: 40%;
                }
            }

            .close-btn:hover { background-color: #646466; }
        }

        .container .content {
            height: 90%;
            background-color: #3F4042;
            padding: 2.5%;
        }

        .container .content a:first-child .visual { border-top: 5px solid #313133; }

        .container .content .visual {
            width: 100%;
            height: 17.5%;
            border: 5px solid #313133;
            border-top: none;
            background-color: #535456;

            img {
                height: 100%;
                margin-right: 3%;
                aspect-ratio: 1 / 1;
                filter: grayscale(1);
                border: 5px solid #303030;
            }

            .description {
                .title { font-size: 6vmin; }
                .username { font-size: 4vmin; }
                * { line-height: .75; }
            }
        }

        .container .content .visual:hover { background-color: #646466; }
    }
}