#portfolio {
    width: 95%;
    height: calc(100vh - 220px);
    position: absolute;
    left: 2.5%;
    top: 220px;
    overflow: hidden;
    overflow-y: scroll;
    
    section {
        width: 99.5%;
        height: calc(100% - 20px);
        padding: 20px 0 20px 0;
    }
    
    section:not(#introduction) {
        h2 {
            background-color: #894EFF;
            font-weight: 500;
            font-size: 3vmin;
            border: 5px solid #312F32;
            border-bottom: none;
            padding: 10px 20px 10px 20px;
            width: fit-content;
            margin-bottom: 20px;
            position: relative;
            z-index: 2;
        }

        
        .content {
            width: 100%;
            height: calc(100% - 80px);
            border: 5px solid #303030;
            background-color: #535456;
            position: relative;
        }

        .content::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: #894EFF;
            border: 5px solid #303030;
            border-bottom: none;
            top: -30px;
            left: -5px;
            z-index: 1;
        }
    }

    section:last-of-type { margin-bottom: 20px; }
}

#portfolio::-webkit-scrollbar {
	width: 25px;
}

#portfolio::-webkit-scrollbar-track-piece {
	border: 7.5px solid transparent;
	margin: 20px 0 20px 0;
    box-shadow: inset 15px 15px #646464;
}

#portfolio::-webkit-scrollbar-thumb {
	border: 5px solid black;
    background-color: #E1E5E8;
    box-shadow: inset 0 -10px #646464;
    cursor: grab;
    height: 300px;
}