#portfolio {
    width: 99%;
    height: clamp(calc(88vmin - 50px), 80vmin, calc(88vmin - 100px));
    left: .5%;
    position: absolute;
    top: clamp(calc(10vmin + 50px), 18vmin, calc(10vmin + 100px));
    overflow-x: hidden;
    overflow-y: scroll;
    
    section {
        width: 99.5%;
        height: 100%;
        padding: 20px 0;
    }
    
    section:not(#introduction) {
        h2 {
            background-color: #894EFF;
            font-weight: 500;
            font-size: 3.5vmin;
            border: .5vmin solid #312F32;
            border-bottom: none;
            width: fit-content;
            padding: .5vmin 1vmin;
            position: relative;
            z-index: 2;
            margin-bottom: -0.5vmin;
        }

        .content {
            width: 100%;
            height: calc(100% - 5vmin);
            border: .5vmin solid #312F32;
            background-color: #535456;
            position: relative;
            z-index: 1;
            padding-top: 1.5vmin;
        }

        .content::before {
            content: "";
            width: 100%;
            border-top: .5vmin solid #312F32;
            position: absolute;
            top: 1.5vmin;
        }

        .content::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1.5vmin;
            background-color: #894EFF;
            z-index: -1;
        }
    }
}

#portfolio::-webkit-scrollbar {
	width: 25px;
}

#portfolio::-webkit-scrollbar-track-piece {
	border: 7.5px solid transparent;
	margin: 20px 0 20px 0;
    box-shadow: inset 15px 15px #646464;
}

#portfolio::-webkit-scrollbar-thumb {
	border: 5px solid black;
    background-color: #E1E5E8;
    box-shadow: inset 0 -10px #646464;
    cursor: grab;
    height: 25vmin;
}